<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.liwei.rent.dao.TenantRentDetailMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.liwei.rent.entity.TenantRentDetail">
        <id column="id" property="id" />
        <result column="tenant_id" property="tenantId" />
        <result column="rent_start_day" property="rentStartDay" />
        <result column="rent_end_day" property="rentEndDay" />
        <result column="rent_status" property="rentStatus" />
        <result column="room_num" property="roomNum" />
        <result column="contract_id" property="contractId" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
        <result column="del_flag" property="delFlag" />
    </resultMap>

</mapper>
